<h1>Login page </h1>

<%= form_tag(url_for(:action => "authenticate_user", :controller=> "account"), :method => :post) do %>
	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>
<table>
<tr>
	<td>
		<%= label_tag(:username, "User Name:") %>
	</td>
	<td>
		<%= text_field_tag(:username) %>
	</td>
</tr>
<tr>
	<td>
		<%= label_tag(:password, "Password:") %>
	</td>
	<td>
		<%= password_field_tag(:password) %>
	</td>
</tr>
	<td>
	
	</td>
	<td>
		<%= submit_tag("Login", :disable_with=> "please wait...") %>
	</td>
</table>
<% end %>
