<h1>Listing members</h1>

<table>
  <tr>
    <th>Memership number</th>
    <th>Name</th>
    <th>Age</th>
    <th>Blood group</th>
    <th>Profession</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.memership_number %></td>
    <td><%= member.name %></td>
    <td><%= member.age %></td>
    <td><%= member.blood_group %></td>
    <td><%= member.profession %></td>
    <td><%= member.address %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
